<ul>
  <% @bookings.each do |booking|%>
    <%= link_to booking_path(booking) do %>
      <li>
        <%= booking.start_date %>
        <%= booking.end_date %>
      </li>
    <% end %>
  <% end %>
</ul>
