<div class="hero d-flex align-items-center justify-content-between">
  <div>
    <h1>Rent JDM Icons in <u>London</u></h1>
    <p>Enter the world of drifting with affordable cars from Japan.</p>
  </div>
  <%= image_tag "hero_image", class: "hero-image", alt: "" %>
</div>


