<div class="hero d-flex justify-content-between">
  <div class="d-flex flex-column justify-content-between me-4">
    <div>
      <p class='description'>DRFT car rental service</p>
      <h1>Elevate your driving experience</h1>
    </div>
    <p class='hero-bio'>Discover the perfect solution to your needs with our community driven platform offering a vast selection of drift ready vehicles.</p>
    <%= link_to "Choose Ride", cars_path, class: "btn-main" %>
  </div>
  <%= image_tag "hero-image", class: "hero-image", alt: "" %>
</div>


