.navbar-lewagon {
  justify-content: space-between;
  background: $background;
  color: $white;
  font-family: $headers-font;
  height: 100px;
  font-size: 24px;
}

.container-fluid {
  margin: 0 96px;
  padding: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-title {
  color: #FCEA00;
  font-weight: 600;
}

.nav-link-custom {
  font-weight: 200;
  color: #777777;
  font-size: 20px;
}

.override {
  align-items: normal !important;
}

.nav-link-custom:hover {
  color: #FBEA00;
  font-weight: 300px;
}

