.search-form {
  width: 40vw;
  height: 40px;
}

.search-form-input {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
